<launch>
	<arg name="scan_topic" default="/scan" />
	<arg name="odom_topic" default="/odom" />

	<node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen">
		<param name="base_frame" value="base_link" />
		<param name="odom_frame" value="odom" />

		<param name="map_update_interval" value="0.5" />
		<param name="trnsform_publish_period" value="0.01" />

		<param name="maxUrange" value="10.0" />
		<param name="maxRange" value="5.5" />

		<param name="srr" value="0.03" />
		<param name="srt" value="0.03" />
		<param name="str" value="0.03" />
		<param name="stt" value="0.03" />

		<param name="linearUpdate" value="0.4" />
		<param name="angularUpdate" value="1.0" />
		<param name="temporalUpdate" value="-1.0" />
		<param name="particles" value="100" />

		<param name="xmin" value="-10.0" />
		<param name="xmax" value="10.0" />
		<param name="ymin" value="-10.0" />
		<param name="ymax" value="10.0" />
		<param name="delta" value="0.05" />
	</node>
</launch>
